@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-8">
        <h3>Register</h3>
        <partial name="_Register" />
    </div>
    <div class="col-lg-4">
        <h3>Login</h3>
        <partial name="_Login" />
    </div>
   
</div>